body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
    list-style: none;
}

.PlanetCardContainer {
    display: flex;
    flex-wrap: wrap;
}

.PlanetCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: 1px solid grey;
    border-radius: 20px;
}

.PlanetImage {
    width: 100%;
    height: auto;
}